<header>
    <nav>
        <div class="logo">
            <a href="/">Paws for Love Animal Shelter</a>
        </div>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <div class="nav-right-links">
            <ul class="nav-links">
                <li><a href="/adopt">Adopt</a></li>
                <li><a href="/volunteer">Volunteer</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>