<header>
    <nav>
        <div class="logo">
            <a href="">Neptune's Gear</a>
        </div>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <div class="nav-right-links">
            <ul class="nav-links">
                <a href="">Travel</a>
                <a href="">Gear</a>
            </ul>
        </div>
    </nav>
</header>