<div class="sidebar">
    <div class="sidebar-header">
        <h2>Categories</h2>
        <ul>
            <li>
                <a href="/adopt">All Animals</a>
            </li>
            <li>
                <a href="/adopt/dog">Dogs</a>
            </li>
            <li>
                <a href="/adopt/cat">Cats</a>
            </li>
        </ul>
    </div>
</div>