<div class="sidebar">
    <div class="sidebar-header">
        <h2>Categories</h2>
        <ul>
            <li>
                <a href="/adopt">All Animals</a>
            </li>
            
            <!-- adds different species dynamically -->
            <% animalSpecies.forEach(species => { %>
                <% if(species) { %>
                    <li>
                        <a href="/adopt/<%= species.toLowerCase() %>">
                            <%= species.charAt(0).toUpperCase() + species.slice(1) %>
                        </a>
                    </li>
                <% } %>
            <% }) %>
            
        </ul>
    </div>
</div>