<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Neptune's Gear</title>
</head>
<body>
        <%- include('components/navbar') %>

        <main>
            <section class="section hero">
                <img src="/images/dive-gear.jpg" alt="Dive gear" class="hero-image">
                <div class="hero-text">
                    <h2>Gear Up, Dive In: Explore the Depths with Confidence</h2>
                    <a href="/" class="shop-now-btn">
                        Shop Now
                    </a> 
                </div>
            </section>
        </main>

        <%- include('components/footer') %>

        <script src="/index.js"></script>
</body>
</html>